#header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    background-color: lightgrey;
}

#header header {
    display: flex;
    align-items: center;	
    
}
#header header nav ul {
    display: flex;
    justify-content: flex-start;
}

#header nav ul li {
    
}


#header nav ul li a {
    margin: 10px;
    height: 60px;
    text-decoration: none;
    color: #a8b3bd;
    padding: 0 0 0 10px;
    transition: color 0.2s linear, background 0.2s linear;
}

#header nav ul li:hover a {
    color: #a85dfe;
}
